@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat");
html {
  scroll-behavior: smooth;
}
body
{
  margin: 0;
  padding: 0;
}
.Smoke
{
  height: auto;
  width: 100%;
  background:#000;
}
video
{
  object-fit: cover;
  position: relative;
  width: 100%;
  min-height: 100%
}
.Effect
{
  margin: 0;
  padding: 0;
  position: absolute;
  font-size: 440%;
  top: 50%;
  width: 100%;
  color: #ddd;
  background-color: black;
  text-transform: uppercase;
  text-align: center;
  transform: translateY(-50%);
  letter-spacing: 0.2em;
}
/*section .two-col
{
  animation: fadeandscale 3s ease-in;
}
section > h1
{
  animation: fadeandscale 3s ease-in; 
}
section h3
{
  animation: fadeandscale 3s ease-in; 
}
@keyframes fadeandscale
{
  from{
    opacity: 0;
    transform: scale3d(.50,.50,1);
  }
  to{
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
@keyframes animat
{
  0%
  {
    opacity: 0;
    transform: rotateY(0deg);
    filter: blur(10px);
  }
  100%
  {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}*/
.Effect span
{
  display: inline-block;
  text-align: center;
  animation: animate 4s linear forwards;
}
.parallax h2 span
{
  color: #00bfff;
}
/*
@keyframes animate
{
  0%
  {
    opacity: 0;
    transform: rotateY(90deg);
    filter: blur(10px);
  }
  100%
  {
    opacity: 1;
    transform: rotateY(0deg);
    filter: blur(0);
  }
}*/
body, html {
  height: 100%;
  margin: 0;
  font-family: 'Montserrat';
  color: #666;
  /*text-align: center*/  background:black
}

.fade:not(.show) {
  opacity: 1;
}

section.Competition, section.Projects, section.Hackathons, section.Awards, section.Research
{
  width:100%;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
}
section .fade
{
  width: 80%;
  justify-content: center;
  text-align: center;
}
section .fade h1
{
  position: relative;
  margin: 0;
  padding:0;
  display: inline-block;
  font-size: 3em;
  color: white;
  transition: 0.5s;
  transform-origin: left;
  transform: scaleX(0);
}
section .fade h1[data-scroll="in"]
{
  transform:scaleX(1);
}
section .fade h1:before
{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #3377ff;
  transform-origin: right;
  transition: 0.5s;
}
section .fade h1[data-scroll="in"]:before
{
  transform:scaleX(0);
  transition-delay: 0.5s;
}
section .fade h3
{
  position: relative;
  display: inline-block;
  margin: 5px 0 0;
  padding:0;
  font-size: 2em;
  color: white;
  transition: 0.5s;
  transform-origin: right;
  transform: scaleX(0);
}
section .fade h3[data-scroll="in"]
{
  transform:scaleX(1);
  transition-delay: 1s;
}
section .fade h3:before
{
  content: '';
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d61433;
  transform-origin: left;
  transition: 0.5s;
}
section .fade h3[data-scroll="in"]:before
{
  transform:scaleX(0);
  transition-delay: 1.5s;
}
.content > p[data-scroll="in"]
{
  animation: fadeandscale 2s ease-in;
}
.card .content a[data-scroll="in"]
{
  animation: fadeandscale 2s ease-in;
}
.card .sliderText h2
{
  font-size: 3em;
  color: #fff;
  text-transform: uppercase;
  animation: fadeandscale 2s ease-in;
}
.card .content a:hover
{
  background-color: black;
  color: white;
  border:white;
}
@keyframes fadeandscale
{
  from{
    opacity: 0;
    transform: scale3d(.50,.50,1);
  }
  to{
    opacity: 1;
    transform: scale3d(1,1,1);
  }
}
/*.card .content a:hover
{
  background-color: black;
  color: white;
  border:white;
  text-decoration: none;
}*/

section .fade p
{
  font-size: 1.2em;
  transition: 1s;
  opacity: 0;
}
section .fade p[data-scroll="in"]
{
  opacity: 1;
  transition-delay: 2s;
}
.parallax1 {
  background: black;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  font-family: "Montserrat";
}
.parallax4 {
  background: url(img/fourth.jpeg);
  min-height: 100%;
}
.parallax1, .parallax2, .parallax3, .parallax4 {
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.parallax
{
  height: 100vh;
  width: 100%;
  background-color: black;

}
.parallax2 {
  background: url(img/Parallax-2.gif);
  min-height: 60%;
}
.parallax3 {
  background: url(img/Parallax.gif);
  min-height: 40%;
}
.heading {
  position: absolute;
  color: #fff;
  font-size: 450%;
  top: 38%;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 8px;
  text-shadow: 3px 2px #000;
}
.heading-sm {
  position: absolute;
  top: 45%;
  width: 100%;
  color: #fff;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-shadow: 0 0 10px #000;
}
.two-col {
  float: left;
  width: 42%;
  padding: 0 4%;
  text-align: left;
}
.content {
  padding: 50px 80px;
  text-align: center;
}

div.card:hover
{
  width: 400px;
  height: 500px;
  border:4px solid white;
}
.dark {
  overflow: auto;
  padding: 50px 80px;
  background-color: #323232;
  color: #f2f2f2;
}

@media (max-width: 768px) {
  .heading {
    font-size: 200%;
  }
  .heading-sm {
    font-size: 150%;
  }
  .two-col {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}
.readmore{
  color:white;
  position: relative;
  bottom: 37px;
  left: 10px;
}

h4
{
  font-weight: normal;
}

.moreinfo{
  position: absolute;
  bottom: 50px;
  left: 120px;
  width: 150px;
  height: 40px;
  background: black;
  color: white;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  font-size: 1.3em;
  box-sizing: border-box; 
  border: 2px solid black;  
}
.moreinfo:hover
{
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  justify-content: center;
  text-align: center;
}
.moreinfo h3{
  position: relative;
  bottom:20px;
}
.moreinfo p{
  margin: 10px 0 0;
  padding:0;
  opacity:0;
  line-height:1.2em;
  transition: 0.25s;
  text-align:justify;
  position: relative;
  bottom: 10px;
}
.moreinfo p{
  opacity: 1;
  transition-delay:0.5s; 
}

.card
{
  position: relative;
  background:#fff;
  width: 400px;
  height:500px;
  margin: 0 auto;
}
.card .content
{
  width: 400px;
  padding: 30px;
  align-items: center;
  box-sizing: border-box;
  font-size: 108%;
  color: black;
}
.card .content a
{
  display: inline-block;
  margin: 10px 0 0;
  padding: 10px 20px;
  text-decoration: none;
  border: 2px solid #262626;
  color: #262626;
}
.card .sliderText
{
  position: relative;
  width: auto;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:black;
}
.swiper-slide
{
  width: 400px !important;
}
.swiper-slide .sliderText
{
  background: url(img/Parallax-3.gif);
}
@media(max-width:768px)
{
.Effect
{
  top:20%;
  letter-spacing: 0;
}
h2 span
{
    font-size:20px;
}
 h2.Effect
 {
  font-size: 20px;
 }
 .parallax
 {
  height: 40vh;
 }
.content
{
  text-align: center;
}
section.Competition, section.Projects, section.Hackathons, section.Awards, section.Research
{
  height: 400px;
  width: auto;
}
section .fade p
{
  width: auto;
}
section .fade h1
{
  font-size: 1em;
}
section .fade h3
{
  font-size:0.6em;
}
section .fade p
{
  font-size:0.6em;
}
section.Competition, section.Projects, section.Hackathons, section.Awards, section.Research
{
  margin:0;
}
div .card
{
  width: 300px;
  height: 450px;
  justify-content: center;
}
.card .sliderText
{
  height: 200px;
}
.card .content
{
  width: 250px;
  font-size: 0.8em;
  margin:auto;
  padding:2px;
}
.card .content a
{
  font-size: 1em;
}
div.card:hover
{
  width: 300px;
  height: 450px;
  border:2px solid white;
}
.readmore
{
  bottom: 28px;
}
.moreinfo
{
  font-size: 1em;
  bottom: 45px;
  left: 95px;
  width: 120px;
  height: 40px;
}
.card .sliderText h2
{ 
  font-size:2em;
  animation: fadeandscale 2s ease-in;
}
.card
{
  position: relative;
  margin:auto;
}
}
@media(min-width: 1382px)
{
  .Effect
{
  letter-spacing: 0.1;
}
h2 span
  {
    font-size:1em;
 }
.content
{
  text-align: center;
}
section.Competition, section.Projects, section.Hackathons, section.Awards, section.Research
{
  height: 100vh;
  width: auto;
}
section .fade p
{
  width: auto;
}
section .fade h1
{
  font-size:4em;
}
section .fade h3
{
  font-size:3em;
}
section .fade p
{
  font-size:2em;
}
section.Competition, section.Projects, section.Hackathons, section.Awards, section.Research
{
  margin:0;
}
div .card
{
  width: 400px;
  height: 600px;
  justify-content: center;
}
.card .sliderText
{
  height: 250px;
}
.card .content
{
  width: 250px;
  font-size: 1.2em;
  margin:auto;
  padding:2px;
}
.card .content a
{
  font-size: 1em;
}
div.card:hover
{
  width: 400px;
  height: 600px;
  border:2px solid white;
}
.card .sliderText h2
{ 
  font-size:2.5em;
  animation: fadeandscale 2s ease-in;
}
.card
{
  position: relative;
  margin:auto;
}
}